/******************************************
/* CSS
/*******************************************/

*{
  box-sizing: border-box;
}

/* PICK COLOURS HERE */
:root {
  --dark: oklch(28.5% 0.018 227.36);
  --med-blue: oklch(40.53% 0.061 217.75);
  --lightest: #ffffff;
  
  --shadow-lt: oklch(69.25% 0.03 176);

  --contrast: oklch(81.35% 0.14 80);
  --contrast-lt: oklch(81.35% 0.14 80 / 25%);
  

  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;  /* for headers TODO different one*/
  color: var(--lightest);
}

/******************************************
/* LAYOUT
/*******************************************/

section {
  padding: 4rem;
  min-height: 80vh;
}

nav {
  width: 100%;
  padding: 2rem;

  background-color: var(--dark);
  position: fixed;
  z-index: 2;
}

nav ul, footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li , footer ul li{
  display: inline-block;
}

nav ul li a, footer ul li a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--lightest);
  font-size: 1.7rem;
}

footer {
  display: flex;
  justify-content: space-between;

  padding: 2rem;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

#hello h1, #hello h2, #hello h3 {
  margin-top: 0;
}

#hello {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: rgb(25,81,95);
  background: linear-gradient(233deg, rgba(25,81,95,1) 9%, rgba(33,44,49,1) 30%, rgba(33,44,49,1) 70%, rgba(25,81,95,1) 91%); 
  background-attachment: fixed;
}

#hello ul {
  width: fit-content;
  padding-left: 0;
}

#hello ul li {
  display: inline-block;
}

#hello ul li a {
  padding: 1rem;
}

#how ol {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 0;
  list-style-position: inside;
}

#how li {
  flex: 1 1 0px;
  margin: 1rem;
  padding: 0.4rem;
  display: inline-block;
}

#how li > div {
  padding: 1.5rem;
}

#portfolio {
  display: grid;
}

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#about:first-child {
  max-width: 45%;
}

#about div>img {
  max-width: 90%;
  background-color: var(--lightest);
  border-radius: 50%;
  border: 2px solid var(--dark);
}

form {
  /* width: 80%; */
  max-width: 100vh;
}

label {
  display: block;
}

form > div {
  display: flex;
  justify-content: space-between;
  /* change flex direction here for lower sizes TODO */
  margin-bottom: 2rem;
}

form div div {
  width: 45%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;
}

form textarea + div {
  justify-content: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  margin-top: 7rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.7rem;
  margin-bottom: 1.7rem;
}

a {
  color: var(--lightest);
}

a:hover, i:hover {
  color: var(--contrast);
}

i {
  color: var(--lightest);
  font-size: 2rem;
}

p, ol, form {
  font-family: 'Nunito', sans-serif;  /* for paragraph text */
  font-size: 1.7rem;
}

#services, #how, #faq, #contact, #services i, #pricing {
  color: var(--dark);
}

button {
  background-color: var(--med-blue);
  color: var(--lightest);
  border: var(--dark);
  padding: 1rem;
  border-radius: 0.5rem;

  font-size: 2rem;

  -webkit-box-shadow: 0px 5px 20px -6px var(--dark); 
  box-shadow: 0px 5px 20px -6px var(--dark);

  position: relative;
}

button:hover {
  background-color: var(--contrast);
  color: var(--dark);
  cursor: pointer;

  -webkit-box-shadow: 0px 5px 20px -6px var(--shadow-lt); 
  box-shadow: 0px 5px 20px -6px var(--shadow-lt);
}

button:active {
  top: 2px;
  -webkit-box-shadow: inset 0px 5px 20px -6px var(--shadow-lt); 
  box-shadow: inset 0px 5px 20px -6px var(--shadow-lt);
}

img {
  border-radius: 1rem;
}

input, textarea, #how li {
  border-radius: 0.5rem;
  border: 2px solid var(--med-blue);
}

input, textarea {
  padding: 0.7rem;
  outline: none;
}

input:focus, textarea:focus {
  -webkit-box-shadow: 0px 5px 29px -6px var(--med-blue); 
  box-shadow: 0px 5px 29px -6px var(--med-blue);
}

button {

}

footer, #portfolio {
  background-color: var(--dark);
}

#about {
  background: var(--med-blue);
  background: linear-gradient(180deg, rgba(33,44,49,1) 0%, rgba(25,81,95,1) 66%);
}

footer span {
  font-size: 1.2rem;
}

/******************************************
/* BY SECTION
/*******************************************/

/* HELLO */

.hello-action a button {
  margin: 3rem;
}

/* SERVICES */

#services h2, #services h3 {
  text-align: center;
}

#services h3 {
  margin-bottom: 5.5rem;
}

.service-large-container {
  margin: 7rem 0 10vh 0;
  padding: 3rem;
  padding-bottom: 6rem;
  border-radius: 2rem;

  -webkit-box-shadow: 0px 0px 81px 10px rgba(25,81,95,0.12);
  -moz-box-shadow: 0px 0px 81px 10px rgba(25,81,95,0.12);
  box-shadow: 0px 0px 81px 10px rgba(25,81,95,0.12);
}

.service-large {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.service-large > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

.service-large p {
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.service-large img {
  object-fit: contain;
  width: 100%;
}

.service-card {
  width: 30%;
  padding: 5%;
  border: 2px dotted var(--shadow-lt);
  border-radius: 2rem;
}

.service-card.left {
  width: 55%;
}

.service-card.right {
  align-self: flex-start;
}

.service-card h4 {
  margin-top: 0;
}

.service-card i {
  font-size: 3rem;
}

.service-card a {
  display: block;
  text-align: center;
  margin-top: 4rem;
}



/* HOW */

#how i {
  display: block;
  color: var(--med-blue);
  font-size: 4rem;
}

#how h2, #how i {
  text-align: center;
}

/* PORTFOLIO */

/* PRICING */

/* ABOUT */

/* CONTACT */

#contact a {
  color: var(--med-blue);
}