[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
[submodule "themes/themes/introduction"]
	path = themes/themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
